.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#product_img > img {
  width: 430px;
  height: 500px;
  image-object: cover;
}

#product_count > input {
}
